@use "./breakpoints" as *;
@use "./colors" as *;
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800&display=swap');
h2,h3,h4,button{
  font-family: 'Big Shoulders Display', sans-serif;
  font-weight: 900;
  line-height: 100%;
}
p{
  font-family: 'Outfit', sans-serif;
  line-height: 150%;
  word-spacing: 2px;
  font-weight: 200;
}


$tags:(
  h2: clamp(6rem, 8vw, 9.6rem),
  h3: clamp(5rem, 5vw, 6rem),
  h4: clamp(2.8rem, 3vw, 3.6rem),
  p: clamp(1.6rem, 2vw, 1.8rem),
  button: clamp(1.7rem, 2vw, 2rem),
  a: inherit,
  span: inherit
);

@each $tag,$size in $tags{
#{$tag}{
  font-size: $size;
}
}



